//主题颜色
$primary-color: #3498db;
$secondary-color: #2ecc71;

//字体
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 16px;
$line-height: 1.5;
$font-weight: 400;

// 页面布局样式
.page {
    display: flex;
    height: 100vh; // 全屏高度
    width:100%;
    overflow:hidden;
}
  
// 左侧登录和注册部分
.left-panel {
    flex: 1; // 占据左侧一半
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 80%; // 表单宽度
    max-width: 400px;
    //内部间距
}

.form input {
    width: 100%; // 输入框宽度对齐
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

// 右侧消息部分
.right-panel {
    flex: 2; // 占据右侧两倍空间
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.message-box {
    flex: 1;
    overflow-y: auto; // 滚动条
    margin-bottom: 20px;
}

.send-message {
    display: flex;
    align-items: center;
}

.send-message input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.send-message button {
    padding: 10px 20px;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send-message button:hover {
    background-color: darken($primary-color, 10%);
}

// 右下角按钮容器
.button-container {
    position: relative;
    bottom: -10px;
    left: 40px;
    display: flex;
    overflow:hidden;
    gap: 10px; // 按钮之间的间距
}

.button-container button {
    padding: 10px 20px;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

// .button-container button:hover {
//     background-color: darken($primary-color, 10%);
// }