//主题颜色
$primary-color: #3498db;
$secondary-color: #2ecc71;

//字体
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 16px;
$line-height: 1.5;
$font-weight: 400;

// 页面布局样式
.page {
    display: flex;
    height: 100vh; // 全屏高度
    width:100%;
    overflow:hidden;
}
  



.form {
    width: 80%; // 表单宽度
    max-width: 400px;
    //内部间距
}

.form input {
    width: 100%; // 输入框宽度对齐
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

// 左侧登录和注册部分
.left-panel {
    flex: 0.5; // 占据左侧一半
    background-color: #f0f0f0;
    overflow-y:auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// 中间消息部分
.center-panel {
    flex: 2; // 占据右侧两倍空间
    background-color: #fff;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//右侧列表部分
.right-panel {
    flex: 0.5; // 占据右侧一半
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y:auto;
}

.message-box {
    flex: none;
    height: 300px; // 设置消息框的高度
    width: 80%; // 设置消息框的宽度
   
    margin-bottom: 20px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    
}

.chat-container { 
    overflow-y: auto; // 滚动条
    flex:0.8; // 让聊天区域占据剩余空间
    display: flex;
    flex-direction: column;
    gap:10px; // 消息之间的间距
}

.send-message {
    display: flex;
    align-items: center;
}

.send-message input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.send-message button {
    padding: 10px 20px;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send-message button:hover {
    background-color: darken($primary-color, 10%);
}

// 右下角按钮容器
.button-container {
    position: relative;
    bottom: 0px;
    left: 55px;
    display: flex;
    overflow:hidden;
    gap: 10px; // 按钮之间的间距
}

.button-container button {
    padding: 5px 10px;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

// .button-container button:hover {
//     background-color: darken($primary-color, 10%);
// }

//选项样式,竖直排列,按钮的边框去除,饱满
.options{
    display: flex;
    flex-direction: column;
    gap: 10px; // 选项之间的间距
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 75%; // 设置选项框的宽度
    //max-width: 400px;
    height: auto; // 设置选项框的高度
    overflow-y: auto; // 滚动条
    overflow-x: hidden; // 禁止横向滚动
    margin-bottom: 20px;   
}

.options button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer; // 鼠标悬停时显示手型
    transition: background-color 0.5s;
}

.options button:hover {
    background-color: #e0e0e0; // 鼠标悬停时的背景色
}

//聊天气泡样式
.chat-bubble {
    padding: 10px;
    display:inline-block;
    clear:both;
    border-radius: 10px;
    margin: 5px 0;
    max-width: 80%; // 限制气泡的最大宽度
    word-wrap: break-word; // 自动换行
    word-break: break-all;
    &.user {
        background-color: #3498db;
        color: #fff;
        float: right;
    }
    &.bot {
        background-color: #f0f0f0;
        color: #000;
        float: left;
    }
}

.chat-bubble.user::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 10px solid #3498db;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.chat-bubble.bot::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 10px solid #f0f0f0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}



// 右侧列表样式
.list-item {
    
        width: 80%; // 列表项宽度
        max-width: 400px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        
}

//列表内选项样式
.list-item-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer; // 鼠标悬停时显示手型
    transition: background-color 0.5s;
}   

.list-item-option:hover {
    background-color: #e0e0e0; // 鼠标悬停时的背景色
}


.current-room{
    background-color: #adacaf;
    color: #fff;
    border: 1px solid #939194;
    cursor: default; // 鼠标悬停时不显示手型
    pointer-events: none; // 禁用点击事件
}